body {
  background-color: dimgray;
}

.passlist {
  background-color: rosybrown;
  border: 10px solid rgb(88, 53, 121);
  /* width: 750px; */
  align-items: center;
  overflow-y: scroll;
}

.addForm {
  color: rgb(8, 8, 8);
  align-items: center;
  background-color: darksalmon;
  box-sizing: 5px;
  border: 10px solid rgb(216, 84, 183);
  margin: 50px;
  padding: 50px;
  width: 500px;
}
button {
  margin: 20px;
  padding: 5px 10px;
  width: 30%;
  color: white;
  background-color: #4caf50;
  text-align: center;
  border: none;
  font: 1.5em sans-serif;
}
input {
  width: 500px;
}
